node_modules/
dist/
/.claude/settings.local.json
/.ha1/controller/config.fabricLabel
/.ha1/controller/config.nextNodeId
/.ha1/controller/config.threadDataset
/.ha1/controller/config.wifiCredentials
/.ha1/controller/config.wifiSsid
/.ha1/ha-server/certificates.intermediateCert
/.ha1/ha-server/certificates.nextCertificateId
/.ha1/ha-server/certificates.rootCertBytes
/.ha1/ha-server/certificates.rootCertId
/.ha1/ha-server/certificates.rootKeyIdentifier
/.ha1/ha-server/certificates.rootKeyPair
/.ha1/ha-server/events.lastEventNumber
/.ha1/ha-server/fabrics.fabrics
/.ha1/ha-server/fabrics.nextFabricIndex
/.ha1/ha-server/root.__number__
/.ha1/ha-server/root.accessControl.__features__
/.ha1/ha-server/root.accessControl.acl
/.ha1/ha-server/root.basicInformation.nodeLabel
/.ha1/ha-server/root.basicInformation.uniqueId
/.ha1/ha-server/root.commissioning.discriminator
/.ha1/ha-server/root.commissioning.passcode
/.ha1/ha-server/root.generalDiagnostics.__features__
/.ha1/ha-server/root.generalDiagnostics.rebootCount
/.ha1/ha-server/root.operationalCredentials.commissionedFabrics
/.ha1/ha-server/root.operationalCredentials.fabrics
/.ha1/ha-server/root.operationalCredentials.nocs
/.ha1/ha-server/root.operationalCredentials.trustedRootCertificates
/.ha1/1834168461689331962.json
/.ha1/chip.json
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
